/* line 4, stdin */
body {
  background-image: url("/images/jbb-landing-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin-bottom: 60px;
}

/* line 12, stdin */
.container-fluid {
  max-width: 1000px;
}

/* line 16, stdin */
img {
  max-width: 100%;
  max-height: auto;
}

/* line 21, stdin */
.product {
  text-align: center;
}

/* line 23, stdin */
.product__btn {
  margin-top: 15px;
  border: none;
  padding: 15px 0;
  border-radius: 0;
  transition: background-color .5s ease-in-out;
}

/* line 29, stdin */
.product__btn--mib {
  background-color: #FDE734;
}

/* line 31, stdin */
.product__btn--mib:hover {
  background-color: #e2ca02;
}

/* line 35, stdin */
.product__btn--es {
  background-color: #0A5599;
  color: white;
}

/* line 38, stdin */
.product__btn--es:hover {
  color: white;
  background-color: #052d51;
}

/* line 44, stdin */
.product__btn-lead {
  display: block;
}

/* line 47, stdin */
.product__btn-name {
  display: block;
  font-weight: 800;
}

/* line 52, stdin */
.jbb {
  position: fixed;
  bottom: -60px;
  right: 0;
}

@media screen and (max-width: 991px) {
  /* line 59, stdin */
  body {
    margin-bottom: 0;
  }
  /* line 62, stdin */
  .jbb {
    position: relative;
    bottom: 0;
    margin-bottom: -50px;
    overflow: hidden;
  }
}

@media screen and (max-width: 600px) {
  /* line 71, stdin */
  .product__btn {
    font-size: 10.5px;
  }
}
