@import url("https://fonts.googleapis.com/css?family=Jura:300");
body {
  background-color: #202123;
  color: #e2f7ff;
  text-shadow: 0 0 7px rgba(226,247,255,0.5);
  font-family: 'Jura', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}
.typewriter {
  font-size: 35px;
  line-height: 60px;
  font-weight: 300;
  text-transform: uppercase;
}
.typewriter__character-enter {
  color: #202123;
  text-shadow: 0 0 7px #202123;
}
.typewriter__character-enter.typewriter__character-enter-active {
  text-shadow: 0 0 7px rgba(226,247,255,0.5);
  color: #e2f7ff;
}
.typewriter__character-leave {
  color: #008000;
}
.typewriter__character-leave.typewriter__character-leave-active {
  color: #00f;
}
.typewriter__text--hide {
  visibility: hidden;
  position: relative;
}
.typewriter__caret {
  display: inline-block;
  margin-bottom: -6px;
  height: 35px;
  width: 12px;
  bottom: 0;
  left: -20px;
  border-radius: 1px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: pulse;
          animation-name: pulse;
}
.prompt__button-container {
  font-size: 30px;
  margin-top: 40px;
}
.prompt__button-container button {
  color: #e2f7ff;
  padding: 15px 0;
  display: inline-block;
  margin: 0 8px;
  background-color: transparent;
  border: 1px solid transparent;
  text-transform: uppercase;
  text-shadow: 0 0 7px rgba(226,247,255,0.5);
  width: 100px;
  transition: all 0.5s ease-in-out;
}
.prompt__button-container button:hover {
  border-color: #e2f7ff;
  box-shadow: 0 0 7px rgba(226,247,255,0.5);
}
@-webkit-keyframes pulse {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #e2f7ff;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes pulse {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #e2f7ff;
  }
  100% {
    background-color: transparent;
  }
}
