@import '../../style/variables'

.typewriter
  $typewriter-font-size = 20px
  font-size: $typewriter-font-size
  //line-height: $typeriter-font-size + 10px
  font-weight: 300
  text-transform: uppercase
  text-align: left
  margin: 0 auto
  max-width: 100%;
  height: 65px
  // classes for ReactCSSTransitionGroup
  &__character-enter
    color: $background-color
    text-shadow: $hidden-shadow
    &.typewriter__character-enter-active
      text-shadow: $text-shadow
      color: $primary-color
      transition: all .1s ease-in
  &__character-leave
    color: green
    transition: all .1s ease-out
    &.typewriter__character-leave-active
      color: $background-color
      text-shadow: $hidden-shadow

  &__text--hide
    visibility: hidden;
    position: relative
  &__caret
    position: relative
    &:after
      content: ''
      position: absolute
      bottom: 6px
      right: -14px
      display: inline-block
      margin-bottom: -6px
      height: $typewriter-font-size
      width: 12px
      border-radius: 1px
      animation-duration: 1s
      animation-fill-mode: both
      animation-iteration-count: infinite
      animation-name: pulse

@keyframes pulse {
  0% {
    background-color: transparent
  }
  50% {
    background-color: $primary-color
  }
  100% {
    background-color: transparent
  }
}
