$board-size = 310px
$bar-width = 6px
$bar-offset = $bar-width / 2
$primary-color = #E2F7FF


body
  background-color: #202123

.board
  width: $board-size
  height: $board-size
  margin-left: auto
  margin-right: auto
  position: relative

.board-cell-container
  position: relative
  display: flex
  flex-wrap: wrap

.board-cell
  width: 103.3px
  height: 103.3px

#toggleBoard
  font-weight: 100
  margin: 30px auto
  display: block
  color: $primary-color
  padding: 10px 15px
  border: 1px solid transparent
  background-color: transparent
  transition: all .4s ease-in-out
  &:focus
    outline: none
  &:hover
    border-color: $primary-color
