.board-grid
  position: absolute
  top: 0
  left: 0
  width: $board-size
  height: $board-size

[class^='board-grid__bar']:before,
[class^='board-grid__bar']:after
  position: absolute
  content: ''
  background-color: $primary-color
  transform-origin: 50% 50%
  border-radius: 1px

.board-grid__bar--horizontal:before,
.board-grid__bar--horizontal:after
  transform: rotate(0deg)
  opacity: 1
  left: $bar-offset
  height: $bar-width
  width: $board-size - $bar-width

.board-grid__bar--horizontal:before
  top: "calc(66.66666% - %s)" % $bar-offset

.board-grid__bar--horizontal:after
  top: "calc(33.33333% - %s)" % $bar-offset

.board-grid__bar--vertical:before,
.board-grid__bar--vertical:after
  top: $bar-offset
  height: $board-size - $bar-width
  width: $bar-width
  opacity: 1

.board-grid__bar--vertical:before
  left: "calc(33.33333% - %s)" % $bar-offset

.board-grid__bar--vertical:after
  left: "calc(66.66666% - %s)" % $bar-offset

// Transitions
[class*='board-grid__bar'].board-grid__bar-enter:before,
[class*='board-grid__bar'].board-grid__bar-enter:after
  opacity: 0

.board-grid__bar--horizontal.board-grid__bar-enter:before,
.board-grid__bar--horizontal.board-grid__bar-enter:after
  transform: rotate(180deg)
  top: "calc(50% - %s)" % $bar-offset

.board-grid__bar--vertical.board-grid__bar-enter:before,
.board-grid__bar--vertical.board-grid__bar-enter:after
  left: "calc(50% - %s)" % $bar-offset
  transform: rotate(270deg)
  opacity: 0

[class*='board-grid__bar'].board-grid__bar-enter.board-grid__bar-enter-active:before,
[class*='board-grid__bar'].board-grid__bar-enter.board-grid__bar-enter-active:after
  opacity: 1
  transform: rotate(0deg)
  transition: opacity .8s ease-in-out,
    transform .8s ease-in-out .8s,
    top .8s ease-in-out 1.6s,
    left .8s ease-in-out 1.6s

.board-grid__bar--horizontal.board-grid__bar-enter.board-grid__bar-enter-active:before
  top: "calc(66.66666% - %s)" % $bar-offset

.board-grid__bar--horizontal.board-grid__bar-enter.board-grid__bar-enter-active:after
  top: "calc(33.33333% - %s)" % $bar-offset

.board-grid__bar--vertical.board-grid__bar-enter.board-grid__bar-enter-active:before
  left: "calc(33.33333% - %s)" % $bar-offset

.board-grid__bar--vertical.board-grid__bar-enter.board-grid__bar-enter-active:after
  left: "calc(66.66666% - %s)" % $bar-offset

// Exit Transitions
[class*='board-grid__bar'].board-grid__bar-leave.board-grid__bar-leave-active:before,
[class*='board-grid__bar'].board-grid__bar-leave.board-grid__bar-leave-active:after
  opacity: 0
  transition: top .8s ease-in-out .8s,
    left .8s ease-in-out .8s,
    transform .8s ease-in-out 1.6s,
    opacity .8s ease-in-out 2.4s

.board-grid__bar--horizontal.board-grid__bar-leave.board-grid__bar-leave-active:before,
.board-grid__bar--horizontal.board-grid__bar-leave.board-grid__bar-leave-active:after
  transform: rotate(180deg)
  top: "calc(50% - %s)" % $bar-offset

.board-grid__bar--vertical.board-grid__bar-leave.board-grid__bar-leave-active:before,
.board-grid__bar--vertical.board-grid__bar-leave.board-grid__bar-leave-active:after
  transform: rotate(270deg)
  left: "calc(50% - %s)" % $bar-offset
