.input-container
  font-size: 40px
  transition: opacity .8s ease-in-out
  &--hide
    opacity: 0
  &--show
    opacity: 1
  & button
    color: $primary-color
    font-size: 18px
    font-family: $primary-font
    padding: 15px 0
    display: inline-block;
    margin: 0 8px
    background-color: transparent
    border: 1px solid transparent;
    text-transform: uppercase
    text-shadow: $text-shadow
    width: 100px
    transition: all .5s ease-in-out
    &:hover
      border-color: $primary-color
      box-shadow: 0 0 7px rgba(226,247, 255, .5)
