.layout__container
  align-items: stretch
  display: flex
  flex-direction: column
  height: 100%

.layout__header
  height: 130px
.layout__board
  flex: 1
  align-content: center

.layout__footer
  height: 40px
  flex: initial
