@import url(https://fonts.googleapis.com/css?family=Jura:300);

$primary-color = #E2F7FF
$background-color = #202123
$primary-shadow-color = rgba(226,247, 255, .5)
$text-shadow = 0 0 7px $primary-shadow-color
$hidden-shadow = 0 0 7px $background-color
$primary-font = 'Jura', Helvetica, Arial, sans-serif

html,body
  min-height: 100%
  display: flex
  width: 100%
  align-items: stretch
  align-content: stretch
body
  background-color: $background-color
  color $primary-color
  text-shadow: $text-shadow
  font-family: $primary-font
  font-weight: 300
  text-align: center
  // display: flex
  // flex-grow: 100
  // align-items: center

#root
  margin: 0 auto;
  max-width: 500px;
  display: flex
  align-content: stretch
  align-items: stretch

.layout__container
  display: flex
  justify-content: center
  align-items: center
  align-content: center
  flex-direction: column

.layout__content
  flex: 1
  display: flex
  justify-content: center
  align-content: center
  align-items: center

.layout__footer
  height: 40px
  flex: initial



.input-container
  font-size: 40px
  transition: opacity .8s ease-in-out
  &--hide
    opacity: 0
  &--show
    opacity: 1
  & button
    color: $primary-color
    font-size: 18px
    font-family: $primary-font
    padding: 15px 0
    display: inline-block;
    margin: 0 8px
    background-color: transparent
    border: 1px solid transparent;
    text-transform: uppercase
    text-shadow: $text-shadow
    width: 100px
    transition: all .5s ease-in-out
    &:hover
      border-color: $primary-color
      box-shadow: 0 0 7px rgba(226,247, 255, .5)


.typewriter
  $typewriter-font-size = 20px
  font-size: $typewriter-font-size
  //line-height: $typeriter-font-size + 10px
  font-weight: 300
  text-transform: uppercase
  text-align: left
  margin: 0 auto
  max-width: 100%;
  height: 65px
  // classes for ReactCSSTransitionGroup
  &__character-enter
    color: $background-color
    text-shadow: $hidden-shadow
    &.typewriter__character-enter-active
      text-shadow: $text-shadow
      color: $primary-color
      transition: all .1s ease-in
  &__character-leave
    color: green
    transition: all .1s ease-out
    &.typewriter__character-leave-active
      color: $background-color
      text-shadow: $hidden-shadow

  &__text--hide
    visibility: hidden;
    position: relative
  &__caret
    position: relative
    &:after
      content: ''
      position: absolute
      bottom: 6px
      right: -14px
      display: inline-block
      margin-bottom: -6px
      height: $typewriter-font-size
      width: 12px
      border-radius: 1px
      animation-duration: 1s
      animation-fill-mode: both
      animation-iteration-count: infinite
      animation-name: pulse

@keyframes pulse {
  0% {
    background-color: transparent
  }
  50% {
    background-color: $primary-color
  }
  100% {
    background-color: transparent
  }
}
