.layout__container
  display: flex
  justify-content: center
  align-items: center
  align-content: center
  flex-direction: column

.layout__content
  flex: 1
  display: flex
  justify-content: center
  align-content: center
  align-items: center

.layout__footer
  height: 40px
  flex: initial
