@import url(https://fonts.googleapis.com/css?family=Jura:300);
@import './style/variables.styl'

html,body
  min-height: 100%
  display: flex
  width: 100%
  align-items: stretch
  align-content: stretch
body
  background-color: $background-color
  color $primary-color
  text-shadow: $text-shadow
  font-family: $primary-font
  font-weight: 300
  text-align: center
  // display: flex
  // flex-grow: 100
  // align-items: center

#root
  margin: 0 auto;
  max-width: 500px;
  display: flex
  align-content: stretch
  align-items: stretch
